<nav class="navbar 
navbar-expand-sm 
navbar-light 
bg-white 
border-bottom 
box-shadow 
navbar-fixed 
mb-3 
navbar-toggleable-sm">

    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/images/lamazon.svg" class="navbar-logo" />
        </a>
        <button class="navbar-toggler" 
                type="button" 
                data-toggle ="collapse" 
                data-target = ".navbar-collapse" 
                aria-controls="navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

       <div class="navbar-collapse collapse justify-content-between">
           <ul class="navbar-nav mr-auto">
               <li class="nav-item">
                   <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
               </li>
                <li class="nav-item">
                    <a asp asp-controller="Products" asp-action="Index" class="nav-link text-dark">Products</a>
                </li>
           </ul>
           <ul>
               <li class="nav-item">
                   <a class="nav-link notification-container">
                       <i class="material-icons">shopping_cart</i>
                   </a>
               </li>
                <li class="nav-item">
                    <a class="nav-link text-dark">Login</a>
                </li>
           </ul>
       </div>

    </div>

</nav>